{% extends "base.html" %}
{% block title %}Sign in - Copywaste Notes{% endblock %}
{% block content %}
<main class="centered-page">
  <!-- <h1><span class="brand-copywaste">Copywaste</span> <span class="brand-notes">Notes</span></h1> -->
   <img src="/static/img/copywaste_notes_logo.png" alt="Copywaste Notes Logo" class="logo">
  <p>Sign in with your Google account to continue.</p>
  <a class="button button-primary" href="/api/google/auth/start?client=web">Sign in with Google</a>
</main>
{% endblock %}
